@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto&display=swap");
* {
  padding: 0;
  margin-left: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'lato';
}

header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 250px;
          flex: 0 0 250px;
  background: #f7f7f7;
}

.nav {
  width: 100%;
  padding: 35px 0px 0px 0px;
  background: url("/img/nav_bg.png") center/cover no-repeat;
  height: 800px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu {
  background: url("/img/logo_nav.png") no-repeat center;
  height: 85px;
}

.menu__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 38px;
}

.menu__list .menu__item {
  position: relative;
}

.menu__list .menu__item:nth-child(1):after {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  left: 0;
  top: 9px;
  margin-left: 115px;
}

.menu__list .menu__item:nth-child(3):after {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  right: 0;
  top: 8px;
  margin-right: -35px;
}

.menu__list .menu__item:nth-child(1) {
  padding: 0px 65px 0px 0px;
}

.menu__list .menu__item:nth-child(2) {
  padding: 0px 110px 0px 0px;
}

.menu__list .menu__item:nth-child(3) {
  padding: 0px 0px 0px 110px;
}

.menu__list .menu__item:nth-child(4) {
  padding: 0px 0px 0px 70px;
}

.item-style {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2.6px;
  text-transform: uppercase;
}

.item-style a {
  color: #4d4959;
}

.title {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  font-family: 'lato-bold';
  font-weight: bold;
  color: #353738;
}

.generation {
  text-align: center;
  background: #f7f7f7;
  padding: 117px 0px 120px;
}

.generation__logo {
  margin: 0px 0px 35px 0px;
}

.generation__title {
  margin: 0px 0px 35px 0px;
}

.generation__text {
  font-family: 'lato-regular';
  font-size: 18px;
  line-height: 34px;
  color: #848789;
  width: 70%;
  margin: 0 auto;
}

.vintage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vintage__left {
  background: url("/img/vintage_logo.png") center no-repeat, url("/img/vintage_img1.png") center/100% 100% no-repeat;
  height: 600px;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66%;
          flex: 0 0 66.66%;
}

.vintage__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
}

.vintage__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  background: url("/img/vintage_img-02.png") center/100% 100% no-repeat;
}

.vintage__text {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.66%;
          flex: 0 1 66.66%;
}

.vintage__text .vintage__logo {
  padding: 70px 0px 30px 0px;
}

.vintage__text .vintage__title {
  padding: 0px 0px 26px 0px;
}

.vintage__text .vintage__main-text {
  font-size: 16px;
  color: #848789;
  line-height: 30px;
  width: 80%;
  margin: 0 auto;
}

.vintage__text .vintage__main-text::after {
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  background: #848789;
  margin: 30px auto 0px;
}

.bariosa {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bariosa__right {
  background: url("/img/boriosa/logo_rightcolomn.png") center no-repeat, url("/img/boriosa/img_rightcolomn.png") center/100% 100% no-repeat;
  height: 600px;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66%;
          flex: 0 0 66.66%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.bariosa__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
}

.bariosa__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  background: url("/img/boriosa/img_leftcolomn.png") center/100% 100% no-repeat;
}

.bariosa__text {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.66%;
          flex: 0 1 66.66%;
}

.bariosa__text .bariosa__logo {
  padding: 70px 0px 30px 0px;
}

.bariosa__text .bariosa__title {
  padding: 0px 0px 26px 0px;
}

.bariosa__text .bariosa__main-text {
  font-size: 16px;
  color: #848789;
  line-height: 30px;
  width: 80%;
  margin: 0 auto;
}

.bariosa__text .bariosa__main-text::after {
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  background: #353738;
  margin: 30px auto 0px;
}

.retro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 600px;
}

.retro__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  background: url("/img/retro/left_logo.png") center no-repeat, url("/img/retro/left_img.png") center/100% 100% no-repeat;
}

.retro__middle {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
}

.retro__middle .retro__icon {
  padding: 70px 0px 30px 0px;
}

.retro__middle .retro__title {
  padding: 0px 0px 26px 0px;
}

.retro__middle .retro__main-text {
  font-size: 16px;
  color: #848789;
  line-height: 30px;
  width: 80%;
  margin: 0 auto;
}

.retro__middle .retro__main-text::after {
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  background: #353738;
  margin: 30px auto 0px;
}

.retro__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  background: url("/img/retro/right_img.png") center/100% 100% no-repeat;
}

.retro__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  background: url("/img/retro/midle_img.png") center/100% 100% no-repeat;
}

.retro__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.66%;
          flex: 0 1 66.66%;
}

.tweet {
  width: 100%;
  height: 469px;
  text-align: center;
}

.tweet {
  background: #f7f7f7;
}

.tweet__icon {
  padding: 124px 0px 37px 0px;
}

.tweet__name {
  font-size: 18px;
  letter-spacing: 1.8px;
  color: #353738;
  font-weight: bold;
  padding: 0px 0px 27px 0px;
}

.tweet__name span {
  color: #848789;
}

.tweet__text {
  font-size: 25px;
  font-style: italic;
  line-height: 34px;
  color: #848789;
  width: 70%;
  margin: 0 auto;
  position: relative;
}

.tweet__text::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 160px;
  display: block;
  width: 11px;
  height: 11px;
  margin-bottom: 100px;
  border-radius: 50%;
  border: 1px solid #a9afb3;
}

.tweet__text::before {
  content: '';
  position: absolute;
  left: 48.5%;
  top: 160px;
  display: block;
  width: 11px;
  height: 11px;
  margin-bottom: 100px;
  border-radius: 50%;
  border: 1px solid #a9afb3;
  background: #a9afb3;
}

.tweet__text span::after {
  content: '';
  position: absolute;
  left: 51.5%;
  top: 160px;
  display: block;
  width: 11px;
  height: 11px;
  margin-bottom: 100px;
  border-radius: 50%;
  border: 1px solid #a9afb3;
}

.shop {
  width: 100%;
  height: 534px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop__item1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
}

.item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 534px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item1__column1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 267px;
}

.item1__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  background: url("/img/shop/img-01.png") center/100% 100% no-repeat;
}

.item1__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  background: url("/img/shop/img-02.png") center/100% 100% no-repeat;
}

.item1__column2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  height: 267px;
  background: url("/img/shop/img-03.png") center/100% 100% no-repeat;
}

.shop__item2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 534px;
}

.shop__item2 .item2__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  height: 534px;
  background: url("/img/shop/img-04.png") center/100% 100% no-repeat;
}

.shop__item2 .item2__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  height: 534px;
  background: url("/img/shop/img-05.png") center/100% 100% no-repeat;
}

.shop__item3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shop__item3 .item3__row-top {
  text-align: center;
  height: 267px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  background: url("/img/shop/img-06.png") center/100% 100% no-repeat;
}

.shop__item3 .item3__row-top .item3__icon {
  padding: 104px 0px 15px 0px;
}

.shop__item3 .item3__row-top .item3__row-top-text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2.8px;
  color: white;
}

.shop__item3 .item3__row-bottom {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop__item3 .item3__row-bottom .row-bottom__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  background: url("/img/shop/img-07.png") center/100% 100% no-repeat;
  height: 267px;
}

.shop__item3 .item3__row-bottom .row-bottom__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  background: url("/img/shop/img-08.png") center/100% 100% no-repeat;
  height: 267px;
}

.black {
  width: 100%;
  height: 200px;
  background: #282f35;
  text-align: center;
  padding: 75px 0px;
}

.black__button {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 2.8px;
  background: #282f35;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px 60px;
}

.mail {
  width: 100%;
  height: 469px;
  text-align: center;
  background: white;
  padding: 110px 0px 0px 0px;
}

.mail__logo {
  padding: 0px 0px 40px 0px;
}

.mail__text {
  padding: 0px 0px 35px 0px;
  font-size: 24px;
  line-height: 34px;
  color: #848789;
  font-style: italic;
}

.mail__textbox {
  width: 400px;
  height: 70px;
  border: 1px solid #d3d7d9;
  padding: 28px 0px 24px 28px;
  font-size: 20px;
  line-height: 24px;
  color: #929292;
  font-style: italic;
}

.mail__form {
  position: relative;
}

.mail__go {
  margin-left: 5px;
  height: 70px;
  width: 125px;
  background: #64c29e;
  font-size: 24px;
  line-height: 24px;
  font-weight: lighter;
  color: white;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #848789;
  padding: 0px 15px;
}

.footer__item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  font-size: 19px;
}

.footer__item1 .footer__text:nth-child(1) {
  font-weight: bold;
  margin-bottom: 9px;
}

.footer__item1 .footer__text:nth-child(2) {
  font-weight: normal;
  margin-bottom: 9px;
}

.footer__item1 .footer__text:nth-child(3) {
  font-style: italic;
}

.footer__item2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item2 .footer__img:nth-child(2) {
  margin: 0 9px;
}

.footer__item3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__item3 .footer__text {
  margin: 0px 9px 0px auto;
  font-style: italic;
}
